header{
    width: 100%;
    height: 110px;
}

nav>ul>li>a{
    letter-spacing: 0.75px;
     text-transform: uppercase;
     color: #333333;
     font-size: 17px;
font-weight: 900;
display: inline-block;
}
nav>ul>li>a:hover:after,
    nav>ul>li>a:focus:after,
    nav>ul>li>a:active:after
    {
        width: 100%;
}

nav>ul>li>a:after {
    background-color: #f1ae29;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.nav-horizontal li a:hover:after,.nav-horizontal li a:focus:after{
    width: 100%;
}
.nav-horizontal li a:after{
    background-color: #f1ae29;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.block{
   width: 100%;
   height: 60px;
}
.navigatia{
    display: inline-block;
    margin-top: -20px;
}
.navigatia h4{
    display: inline-block;
}
.navigatia img{
    padding: 0 8px;
}
.navigatia h4 span{
    color: #777777;
}
.block1 {
 background-size: auto;
background-repeat: no-repeat;
    background-image: url(/css/img/banner.png);
    box-sizing: border-box;
}
.main-title{
    letter-spacing: 0.64px;
    font-weight: 700;
   text-transform: uppercase;
    color: #fff;
    padding-top: 127px;
   font-size: 45px;
    line-height: 60px;
    
}
.desc{
    font-size: 16px;
    color: #353535;
   padding-top: 170px;
font-weight: 300;
line-height: 26px;
}
 .under::before{
    width: 54px;
    height: 4px;
    background-color: #f1ae29;
content: "";
position: absolute;
top: 300px;
}
.text-thin{
    font-weight: normal;
}
.block2{
    margin-top: 60px;
}
.img-grow:hover{
   
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s;
}

.h2-title{
       color: #30282a;
    font-size: 55px;
font-weight: 700;
line-height: 75px;
letter-spacing: 1px;
text-transform: uppercase;
margin-top: 15px;
margin-bottom: 46px;

}
.under2::before{
    content: "";
position: absolute;
    width: 54px;
height: 4px;
background-color: #f1ae29;

}
.rec-box{
    width: 49px;
height: 49px;
border: 1px solid #ababab;
/* background-color: #000000; */
opacity: 0.5;
text-align: center;
margin-top: 40px;
}
div i{
    position: relative;
    top: calc(50% - 10px);
}
.var1-title{
    color: #434242;
    font-size: 77px;
    font-weight: 700;
line-height: 75px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 160px;
}
.var2-title{
    color: #e9a828;
    font-size: 77px;
font-weight: 700;
line-height: 75px;
text-transform: uppercase;
margin-top: 160px;
margin-left: 40px;
}
.block4{
    position: relative;
    top: -10px;
}


.pd{
    padding-left: 395px;
}

.block5{
    background-image: url(/css/img/block5.png);
    background-repeat: no-repeat;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-top: -13px;
}

.vcard-title{
    color: #ffffff;
    font-size: 37px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2px;
line-height: 50px;
margin-top: 92px;
}

.var1-h5{
    color: #ffffff;
display: inline-block;
margin-top: 64px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
}

.var1-h3{
    font-size: 28px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 36px;
    color: #f1ae29;
    line-height: 36px;
}
.card1-title{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
font-weight: 700;
margin-top: 60px;
}

ul>li{
    
    font-weight: 200;
    text-transform: lowercase;
    color: #ffffff;
    font-size: 16px;
  
line-height: 30px;
letter-spacing: 0.9px;
margin-top: 26px;
position: relative;
 left: 20px;
}

.par{
    display: inline-block;
    width: 21px;
height: 1px;
background-color: #f1ae29;
content: "";
position: relative;
top: -5px;

right: 20px
}

.underscore{
    text-decoration: underline ;
    letter-spacing: 0.9px;
    
}
.tlit{
    color: #ffffff;
    font-size: 18px;
    font-weight: lighter;
    position: relative;
 left: 20px;
 top: -20px;
}

.var2-pd{
    padding-left: 60px;
}
.vcard2-title{
    color: #434242;
    font-size: 38px;
font-weight: 710;
text-transform: uppercase;
letter-spacing: 2px;
line-height: 50px;
margin-top: 92px;
}
.var2-h5{
    color: #202020;
display: inline-block;
margin-top: 64px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 630;
font-size: 18px;
}

.var2-h3{
    font-size: 28px;
    display: inline-block;
    position: relative;
    top: 40px;
    left: 36px;
    color: #ffffff;
    line-height: 36px;
}
.card2-title{
    color: #202020;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
font-weight: 730;
margin-top: 60px;
}

.li2{
    color: #202020;
}
.par2{
    display: inline-block;
    width: 21px;
height: 1px;
background-color: #ffffff;
content: "";
position: relative;
top: -5px;

right: 20px
}

.but-title{
    color: #f1ae29;
    letter-spacing: 1.8px;
    font-size: 17px;
font-weight: 700;
text-transform: uppercase;
}

.uk-buttn {
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background: #434242;
    color: #f1ae29 !important;
    min-height: 50px;
    padding: 21px 88px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600
    
}
a, a:hover{
    text-decoration: none !important;
}
.butt{
    margin-top: 100px;
}
.round{
    width: 45px;
height: 45px;
    border: 3px solid#f1ae29;
    border-radius: 50%;
    line-height: 10em;  
    text-align: center;
    box-sizing: border-box;
    
    display: inline-block;
}
.round-title{
    color: #ffffff;
    position: relative;
    top: 10px;
    font-size: 20px;
}
.block5-title{
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 35px;
font-weight: 700;
text-transform: uppercase;
display: inline-block;
position: relative;
left: 20px;
top: 18px;
margin-top: 140px
}

.p-one{
    color: #ffffff;
    font-size: 16px;
font-weight: 100;
line-height: 24px;
margin-top: 25px;
letter-spacing: 0.45px;
}

.card3{
    padding-left: 130px
}
.mgn{
margin-top: 100px;
}
.p1-one{
    padding-right: 110px;
}
.card2{
    padding-left: 100px
}

.mg-4-5{
    margin-top: 100px;
    
}
.card4{
    margin-left: 300px;
}
.card5{
    margin-left: 140px;
}

.block6{
    background-color: #434242;
    width: 100%;
    height: 1845px;
    position: relative;
    top: 866px
    
}
.block6-title{
    color: #ffffff;
    margin-top: 100px;
    letter-spacing: 1.5px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 896px;
    margin-bottom: 79px;
}
.owl-p{
    color: #ffffff;
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    margin-top: 30px;
}

.long-arrow{
    position: relative;
    left: 150px;
    bottom: 165px;
}

.p-two{
    color: #ffffff;
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    margin-top: 25px;
    width: 258px;
}
.mt{
    margin-top: 88px;
    
}
.p-ew{
    margin-bottom: 2px;
}
.imb{
    margin-top: 12px;
}
.p-ewt{
    margin-top: 29px;
}
.etap-3{
    padding-left: 100px
}
.etap-4{
    padding-left: 120px;
}
.etap-3-body{
    margin-top: 90px;
    
}
.eta{
    padding-left: 210px;
}
.p-three{
    color: #ffffff;
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}
.p-tree{
    margin-top: 27px;
    width: 302px;
}
.p-tre{
    margin-top: 30px;
    width: 258px;
}
.tap-3-body{
    padding-left: 30px;

}
.underline{
    margin-top: 100px;
}
.uk-buttn2 {
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background: #f1ae29;
    color: #434242 !important;
    min-height: 50px;
    padding: 21px 88px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    height: 58px;
    width: 327px;
}
.butt2{
    margin-top: 83px;
}

.block7{
    height: 1000px;
    width: 100%;
    position: relative;
    top: 863px;
}

.block7-head{
    letter-spacing: 3px;
    font-size: 52px;
font-weight: 700;
line-height: 70px;
text-transform: uppercase;
color: #30282a;
margin-top: 135px;
width: 1039px;
margin-bottom: 80px;
}
.un::before{
    width: 54px;
    height: 4px;
    background-color: #f1ae29;
content: "";
position: absolute;
top: 110px;
}
.table-head{
    background-color: #f1ae29;
    width: 1140px;
height: 56px;

}
.table-h1{
    letter-spacing: 0.8px;
    color: #30282a;
    font-size: 16px;
font-weight: 700;
padding-top: 20px;
text-transform: uppercase;
}
tbody>tr{
    width: 1140px;
height: 56px;
}
.td-head{
    width: 640px;
    
}
td{
    color: #353535;
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}

.block8{
    background-image:  url(/css/img/form-img.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 830px;
    position: relative;
    top: 870px;
    
}
.block8::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e1a19;
    opacity: 0.83;
    }
  

.form-head{
    color: #ffffff;
        letter-spacing: 6px;
    font-size: 36px;
font-weight: 700;
margin-top: 106px;
text-transform: uppercase;
margin-bottom: 40px;
position: relative;
}
.form-head-2{
    width: 343px;
    letter-spacing: 1px;
     color: #ffffff;
     font-size: 16px;
font-weight: 200;
margin-bottom: 30px;
position: relative;
}
.holder {
    position: absolute;
    padding: 20px 20px;
     color: #ffffff;
    cursor: auto;
    font-size: 11pt;
    z-index: 1;
    position: relative;
    }
.red{
        color: #f1ae29;
    }
 input {
        width: 360px;
         height: 56px;
        border: 1px solid #b2b2b2;
        font-size:11pt;
        background: none;
        position: relative;
    }
textarea{
    width: 1133px;
height: 272px;
border: 1px solid #b2b2b2;
background: none;
margin-top: 30px;
resize: none;
position: relative;
}
.holder-textarea{
    position: absolute;
     padding: 50px 20px;
     color: #ffffff;
    cursor: auto;
    font-size: 11pt;
    z-index: 1;
}
.box{
    width: 19px;
height: 19px;
border: 1px solid #979797;
background-color: #f1b847;
display: inline-block;
margin-right: 10px;
position: relative;
}
.box-p{
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    display: inline-block;
    position: relative;
    bottom: -1px;
    position: relative;
}
.politika, .politika:hover{
    padding-left: 5px;
    text-decoration: underline !important;
    color: #f1ae29;
    letter-spacing: 0.45px;
    font-size: 16px;
    font-weight: 100;
}
.galka{
    margin: 2px 4px;
}
.box-p1{
    letter-spacing: 0.45px;
    font-size: 14px;
    font-weight: 100;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 90px;
    position: relative;
}
.uk-buttn3{
    border-radius: 2px;
    background: #f1ae29;
    color: #333333 !important;
    min-height: 50px;
    padding: 20px 61px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    width: 218px;
    height: 58px;
    text-transform: uppercase;
    position: relative;
}
.butt3{
    margin-top: 45px;
    margin-left: -34px;
}

.block9{
    width: 100%;
    height: 325px;
    position: relative;
    top: 870px;

}

@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  .swing:hover {
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
  }

.und::before{
    content: "";
position: absolute;
    width: 54px;
height: 4px;
background-color: #f1ae29;
margin-top: 55px;
}
.block9-head{
    margin-top: 90px;
    width: 552px;
    letter-spacing: 9px;
color: #30282a;
font-size: 50px;
font-weight: 700;
line-height: 75px;
text-transform: uppercase;
}

.client-img{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: 30px;
}

footer{
    width: 100%;
    height: 290px;
background-color: #1e1a19;
position: relative;
top: 916px;
}
.img-top{
    margin-top: -24px;
}
.img2-top{
    margin-top: 24px;
}
.box-client{
    width: 34px;
height: 33px;
border: 2px solid #000000;
opacity: 0.58;
float: left;
position: relative;
top: 90px;
}
.box-client2{
    width: 34px;
height: 33px;
border: 2px solid #000000;
opacity: 0.58;
position: relative;
float: right;
top: 90px;
}

.footer-logo{
    margin-top: 50px;
}
.nav-horizontal li{
    display: inline-block;
    letter-spacing: 0.75px;
    color: #ffffff;
    font-size: 15px;
font-weight: 700;
text-transform: uppercase;
margin: 90px 10px;
position: relative;
    left: 60px;
}
.nav-horizontal li a{
    color: #ffffff;
}

.footer-contact{
    display: inline-block;
    position: relative;
    top: -50px;
}
.footer-contact i{
    color: #fff;
}
.footer-contact h4{
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
}
.footer-contact p{
    display: inline-block; 
    color: #ffffff;
    font-size: 17px;
    margin-left: 30px;
}

















